<div ng-controller="MenuCtrl" layout="column" ng-cloak>
  <md-content flex layout-padding layout="column" layout-align="end">
        <md-button ng-click="toggleRight()"
          ng-hide="isOpenRight()"
          class="md-primary" style="text-align: right">
          <ng-md-icon icon="menu" style="fill:#00BCD4" size="40"></ng-md-icon>
        </md-button>
  </md-content>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" layout-align="start">
      <md-toolbar class="md-theme-dark">
        <h5 class="md-toolbar-tools">Table of Contents</h5>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <md-list>

              <md-list-item>
                <md-button type="button" href="/" class="navButt">Home</md-button>
              </md-list-item>

              <md-list-item>
                  <md-button type="button" href="/todo" class="navButt">Todo</md-button>
              </md-list-item>

              <md-list-item>
                  <md-button type="button" href="/news" class="navButt">News</md-button>
              </md-list-item>

            </md-list>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          X
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>
