<md-dialog ng-controller="MagazineCtrl">
  <md-dialog-content>
    <md-card ng-model="expediaDetail">
      <md-card-header>
        <md-card-header-text class="card-title">
          <span class="md-headline">{{expediaDetail.title}}</span>
          <span class="md-subhead">{{expediaDetail.location}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-title-media>
        <img ng-src="http:{{expediaDetail.images[0].large}}" class="md-media-lg card-media">
      </md-card-title-media>
      <md-card-content>
        <span>{{expediaDetail.description | htmlToPlaintext}}</span><br>
        <span class="md-headline">{{expediaDetail.fromPrice | htmlToPlaintext}}</span>
      </md-card-content>
      <md-card-title-media>
        <img ng-src="http:{{expediaDetail.staticMapUrl}}" class="md-media-lg card-media">
      </md-card-title-media>
      <md-card-footer>
        <a ng-href="http:{{expediaDetail.url}}">Book Now</a>
      </md-card-footer>
    </md-card>
  </md-dialog-content>
      <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
          Close Dialog
        </md-button>
      </md-dialog-actions>
</md-dialog>
