/* Global Styles */
body {
  font-family: 'Noto Sans', sans-serif;
}

md-card-footer {
  font-size: 9px;
}

footer {
  font-size: 9px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: #FFC107;
  padding: 5px;
  font-family: 'Noto Sans', sans-serif;
}

/* Navbar Styles */
.navButt {
  text-align: left;
}

.nav-logo {
  height: 75px;
}

/* Homepage Styles */
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px;
}

.home-logo {
  height: 100px;
}

.home-subheader {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.home-body {
  padding-top: 10%;
  height: 400px;
  padding-left: 33%;
}

/* Tale of Contents */
.toc-content a:link {
  text-decoration: none;
}
.toc-content a:visited {
  text-decoration: none;
}
.toc-content a:hover {
  text-decoration: none;
}
.toc-content a:active {
  text-decoration: none;
}

.toc-list-item {
  color: rgb(255, 255, 255);
  margin-left: 15px;
}

.toc-icon {
  border-radius: 10px 45%;
  border: 1px solid #ddd;
  width: 60px;
  margin: 16px;
  text-align: center;
  padding: 2px;
}

/* Weather */
.weather-tile {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 5px;
  padding: 5px;
}

.weather-tile img {
  margin: 0 auto;
}

.todo-subheadline {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.todo-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  background-color: #EF5350;
  color: rgb(255, 255, 255);
}

/* Top Bar */
.top-banner {
  background-color: rgb(255, 255, 255);
}

/* Todo Cards */

.todo-content {
  width: 350px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

.todo-title {
  font-size: 22px;
  background: #B71C1C;
  color: rgb(255, 255, 255);
}

.todo-detail-content {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

/* News Cards */
.news-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  background-color: #00BCD4;
  color: rgb(255, 255, 255);
}

.news-title {
  background: #00838F;
  color: rgb(255, 255, 255);
}

.news-content {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

.news-body {
  overflow: scroll;
  font-family: 'Slabo 27px', serif;
}

.news-image {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;;
}

/* Photos Grid */
.photo-tiles {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-footer {
  padding: 10px;
  height: 35%;
  background: rgba(0, 0, 0, 0.68);
}

.photo-footer h3 {
  color: #00BCD4;
}

.photo-footer div {
  font-size: 12px;
  text-align: center;
}

.warning {
  font-size: 10px;
  color: rgba(184, 28, 28, 1);
  margin-left: 5px;
}

/* Wiki */
.wiki-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  color: rgb(255, 255, 255);
  background-color: #00E676;
}

#wiki-body {
  padding: 0 100px
}

#wiki-body ul {
  margin-left: 25px;
  font-size: 14px;
}

#wiki-body ol {
  margin-left: 25px;
  font-size: 14px;
}

#wiki-body p {
  font-family: 'Slabo 27px', serif;
}

#wiki-body p b {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
}

#wiki-body h2 {
  color: #00E676;
}

#wiki-body h3 {
  color: #FFC107;
}

#wiki-body h4 {
  color: #FF6F00;
}

/* Restaurants */
.restaurant-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  background-color: #673AB7;
  color: rgb(255, 255, 255);
}

.restaurant-icon {
  margin-right: 15px;
}

#restaurant-info h3 {
  color: #FFC107;
  font-size: 24px;
  font-family: 'Oleo Script', cursive;
}

#restaurant-info h4 {
  color: #FF6F00;
}

#restaurant-info p {
  font-family: 'Slabo 27px', serif;
}

#restaurant-info {
  margin: 10px 0;
}

#restaurant-subheader {
  color: rgb(255, 255, 255);
  background-color: #9575CD;
}

/* Map */
#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  margin-bottom: 25px;
}

/* Hotel */
.hotel-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  background-color: #37474F;
  color: rgb(255, 255, 255);
}

.hotel-icon {
  margin-right: 15px;
}

#hotel-info h3 {
  color: #FFC107;
  font-size: 24px;
  font-family: 'Oleo Script', cursive;
}

#hotel-info h4 {
  color: #FF6F00;
}

#hotel-info p {
  font-family: 'Slabo 27px', serif;
}

#hotel-info {
  margin: 10px 0;
}

#hotel-subheader {
  color: rgb(255, 255, 255);
  background-color: #90A4AE;
}
