/* Global Styles */
body {
  font-family: 'Noto Sans', sans-serif;
}

md-card-footer {
  font-size: 9px;
}

/* Navbar Styles */
.navButt {
  text-align: left;
}

/* Homepage Styles */
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px;
}

/* Tale of Contents */
.toc-content a:link {
  text-decoration: none;
}
.toc-content a:visited {
  text-decoration: none;
}
.toc-content a:hover {
  text-decoration: none;
}
.toc-content a:active {
  text-decoration: none;
}

.toc-icon {
  border-radius: 10px 45%;
  border: 1px solid #ddd;
  width: 60px;
  margin: 16px;
  text-align: center;
  padding: 2px;
}

/* Weather */
.weather-tile {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 5px;
  padding: 5px;
}

.weather-tile img {
  margin: 0 auto;
}

.todo-subheadline {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.todo-headline {
  font-family: 'Oleo Script', cursive;
  font-size: 48px;
  background-color: #00BCD4;
  color: rgb(255, 255, 255);
}

/* Top Bar */
.top-banner {
  background-color: rgb(255, 255, 255);
}

/* Todo Cards */

.todo-content {
  width: 350px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

.todo-title {
  background: #00BCD4;
  color: rgb(255, 255, 255);
}

.todo-detail-content {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

/* News Cards */
.news-content {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
}

.news-body {
  overflow: scroll;
}

.news-image {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;;
}

/* Photos Grid */
.photo-tiles {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-footer {
  padding: 10px;
  height: 35%;
  background: rgba(0, 0, 0, 0.68);
  word-break: normal;
}

.photo-footer h3 {
  color: #00BCD4;
}

.photo-footer div {
  font-size: 12px;
  text-align: center;
}
