<!-- Navbar, ng-include needs quotes in quotes -->
<div ng-include="'app/views/partials/navbar.html'"></div>
<div ng-controller="MapCtrl" ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <md-card class="card-page-title top-banner">
      <md-card-title class="news-headline">
        <span class="md-headline news-headline"><ng-md-icon icon="map" style="fill:white" size="40"></ng-md-icon> Map of  {{weather.city.name}}</span>
      </md-card-title>
      <md-card-content hide-xs>
        <div class="md-subhead todo-subheadline">7 day forecast</div>
        <div layout="row" layout-xs="column" class="md-padding">
          <div flex ng-repeat="day in weather.list" style="width: 115px;" class="weather-tile">
            <img ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png"><br>
            <span>High {{day.temp.max | number : 0}}<small>&#8451;</small></span><br>
            <span>Low {{day.temp.min | number : 0}}<small>&#8451;</small></span>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
  <md-content layout="column" layout-align="center center">
    <div id="map" data-ng-init="initMap()"></div>
  </md-content>
</div>
