<!-- Navbar, ng-include needs quotes in quotes -->
<div ng-include="'app/views/partials/navbar.html'"></div>

<div ng-controller="TableCtrl" ng-cloak>
  <md-toolbar class="md-theme-dark" >
      <h2 class="md-toolbar-tools" layout="row" layout-align="center center">
        <span><ng-md-icon icon="airplanemode_on" style="fill:white" size="72" class="toc-header-icon"></ng-md-icon></span><span>Table of Contents for your trip to {{weather.city.name}}</span>
      </h2>
    </md-toolbar>
    <md-content class="toc-content" layout="row" layout-align="center center">
      <md-list>
        <a href="/todo">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="nature_people" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Things todo in {{weather.city.name}}.</h3>
              <p>Expedia found {{expedia.length}} things for you to do.</p>
            </div>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/news">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="local_library" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Read articles mentioning {{weather.city.name}}.</h3>
              <p>Alchemy found {{alchemy.length}} articles to read.</p>
            </div>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/photos">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="photo_camera" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Photos taken around {{weather.city.name}}.</h3>
              <p>Instagram found {{instagram.length}} pictures for you.</p>
              <div layout="row" layout-align="start center">
              <ng-md-icon icon="warning" style="fill:#B71C1C" size="18"></ng-md-icon>
              <span class="warning">Contains pictures from the internet.</span>
            </div>
            </div>
            <md-divider md-inset></md-divider>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/wiki">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="language" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Wikipedia page about {{weather.city.name}}.</h3>
              <p>Learn all about {{weather.city.name}} from Wikipedia.</p>
            </div>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/restaurant">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="local_restaurant" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Places to eat around  {{weather.city.name}}.</h3>
              <p>Google found {{restaurants.length}} restaurants around {{weather.city.name}}.</p>
            </div>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/map">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="map" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Map of {{weather.city.name}}.</h3>
              <p>Google map  for the city of {{weather.city.name}}.</p>
            </div>
          </md-list-item>
        </a>
        <md-divider md-inset></md-divider>
        <a href="/hotels">
          <md-list-item class="md-3-line">
            <span class="toc-icon"><ng-md-icon icon="location_city" style="fill:white" size="40"></ng-md-icon></span>
            <div class="md-list-item-text">
              <h3>Places to stay in {{weather.city.name}}.</h3>
              <p>Google found {{hotels.length}} hotels around {{weather.city.name}}.</p>
            </div>
          </md-list-item>
        </a>
      </md-list>
    </md-content>
</div>
